%link{:type => "text/css", :rel => "stylesheet", :href => "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"}
  
:javascript
  $(document).ready(function() {
    //load dynamic (user rate) stars
    //when user rate == -1 this means that he never rated this book before
    var count = #{@user_rate};
    for(i=1; i <= count; i++){
        $("#star"+ i).addClass("on");
    }
  });
  $(function () {
    $('#star1, #star2, #star3, #star4, #star5').mouseover(function(){
      var count = parseInt($(this).attr("value"));
      for(i=1; i <= 5; i++){
        if(i <= count){
          $("#star"+ i).addClass("shine");
        } else {
          $("#star"+ i).removeClass("shine");
        }
      }
    });
    
    $('#star1, #star2, #star3, #star4, #star5').mouseout(function(){
      for(i=1; i <= 5; i++){
          $("#star"+ i).removeClass("shine");
      }
    });
    
    $('#star1, #star2, #star3, #star4, #star5').click(function () {
      // value == 0 then it is static star
     
      if(parseInt($(this).attr("value")) != 0){
        var count = parseInt($(this).attr("value"));
        // if off then user want to reset his rating to 0
        var off = false;
        if(count == 1 && (($("#star1").attr("class")).split(' ')).length == 3 &&  ($("#star2").attr("class")).localeCompare("starrating") == 0){
          for(i=1; i <= 5; i++){
            $("#star"+ i).removeClass("on");
          }
          off = true;
        }else{
          for(i=1; i <= 5; i++){
            if(i <= count){
              $("#star"+ i).addClass("on");
            } else {
              $("#star"+ i).removeClass("on");
            }
          }
        }
        if(off){
          off = false;
          count = 0;
        }
        $.ajax({type: "GET", 
                url: "/rate_collection?rate=" + count + "&user_id=" + "#{session[:user_id]}" + "&col_id=" + "#{@collection.id}", 
                dataType: "script",
                success: function(data){
                           
                          }
               });
      }
    });
  });
  
%li#star1.starrating{:value => '1'}
%li#star2.starrating{:value => '2'}
%li#star3.starrating{:value => '3'}
%li#star4.starrating{:value => '4'}
%li#star5.starrating{:value => '5'}
  