.row.clearfix
  .col-md-12.column
    .col-md-12
      %h2
        =@page_title
      .col-md-8
        =render :partial => "collections/breadcrumb"
      .input-group.col-md-4.pull-right
        %input.form-control{:id => "search_coll_field", :type=> "text", :onkeypress => "if(event.keyCode == 13){search_collection();return false;}"}
        %span.input-group-btn
          %button.btn.btn-default{:type=>"button", :onclick => "search_collection();"}
            =I18n.t(:go_button)   
    .clearfix
    %hr      
  .row
    =render :partial=> "collections/listresult"
    
  - if(!((@page == @lastPage && @lastPage == 1) || @lastPage == 0))
    .col-md-8
      .pagination-centered
        - @pages = adjustPaging(@page, @lastPage)
        = render :partial => "books/paging"