- @owner_of_activity = User.find(log[:user])
- if(!(@owner_of_activity.nil?) && (@owner_of_activity.photo_name.blank?))
  - @thumb = "/images_#{I18n.locale}/defaultUser.jpeg"
- else
  - @thumb = @owner_of_activity.photo_name_url(:thumb)
  
.thumb
  = link_to image_tag("#{@thumb}" , :width => 70, :border => 0) , 
    {:controller => :users, :action => :show, :id => @owner_of_activity.id}

.newscontent
  %h4
    = log[:record].html_safe
.clear