%link{:type => "text/css", :rel => "stylesheet", :href => "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"}
%script{:type => "text/javascript", :src  => "http://code.jquery.com/jquery-1.9.1.js"}
%script{:type => "text/javascript", :src  => "http://code.jquery.com/ui/1.10.3/jquery-ui.js"}


    


:javascript
  $(function() {
    var name = $( "#id" );
    $( "#dialog" ).dialog({
      autoOpen: false, modal: true, buttons: { 
      "Create an account": function() {
                            $( "#users" ).append(name);
                             $.ajax({type: "GET", 
                                     url: "/add_book", 
                                     dataType: "script",
                                     data: name
                                     });
                            $( this ).dialog( "close" );
                           }, 
      Cancel: function() {$( this ).dialog( "close" );}
      } 
      });
    $( "#opener" ).click(function() {
      $( "#dialog" ).dialog( "open" );
    });
  });   
  
#dialog
  .form
    = form_for :book_collection, :url => collections_add_book_path, :builder => FormHelper::BHLFormBuilder do |f|
      %ul
        %li
          = f.label :collection_id
        %li
        #id
          = f.select(:collection_id, [["1", "hello"]]) 
      %fieldset
        = f.submit I18n.t('submit_buton'), :class => "btn"
#users
  %p
    hope
  
%input{type: "button", id: "opener", value: "Click to open the dialog"}  



