- doc_subjects = @doc["subject_#{@doc_language}"]
- subjects = fillResponseArrays(doc_subjects)
- more = @doc["subject_#{@doc_language}"].length - subjects.length
%i
  %b
    =I18n.t(:listresult_subject)
- subjects.each_with_index do |subject, index|  
  = subject.kind_of?(Array) ? subject[0].html_safe : subject.html_safe
  -if index != subjects.length - 1
    %b
      =I18n.t(:separator)
- if (more > 0)
  = I18n.t(:and_count_more, :count => more)
%b
  =I18n.t(:terminator)
