- authors = fillResponseArrays(@doc, @highlight, 'author', @id)
- more = @doc['author'].length - authors.length
By
- authors.each do |author|
  &bull;
  = author.kind_of?(Array) ? author[0] : author 
- if (more > 0)
  = "and #{more} more"