- authors = fillResponseArrays(@doc, @highlight, 'author', @id)
- more = @doc['author'].length - authors.length
By
- authors.each do |author|
  &bull;
  = author.kind_of?(Array) ? author[0].html_safe : author.html_safe
- if (more > 0)
  = I18n.t(:and_count_more, :count => more)
