%small
  - @query_array.each do |key, val|
    - if(val != '')
      - val.each do |term|
        .tab
          = term
          .close
            = link_to :params => removeBreadCrumb(@url_params, key, term) do
              ="&times;".html_safe
.clearfix
%h4.text-muted
  - if(@query != "*:*")
    = I18n.t(:books_found, :count => @response['response']['numFound'])
  - else
    =I18n.t(:books_found_all, :count => @response['response']['numFound'])