:javascript  
  function searchfnc(searchquery, e, field){
    if(field == null || field == '')
      return;
    var type = e.options[e.selectedIndex].value;
    if(searchquery == null || searchquery == ''){
      searchquery = "_" + type + "=" + field;
    } 
    else if(searchquery.toLowerCase().indexOf("_" + type.toLowerCase()) != -1){
      searchquery = searchquery.replace("_" + type.toLowerCase() + "=","_" + type.toLowerCase() + "=" + field + " _AND ");
    }
    else{
      searchquery += "&_" + type + "=" + field;
    }
    window.location = window.location.href.split('?')[0] + "?" + searchquery;
  }
%select#searchby
  %option{:value => "ALL"} ALL
  %option{:value => "title", :selected => true} Title
  %option{:value => "language"} Language
  %option{:value => "published_at"} Publish Place
  %option{:value => "geo_location"} Regional Affiliation
  %option{:value => "author"} Author
  %option{:value => "name"} Tagged Species
  %option{:value => "subject"} Genre
  %option{:value => "content"} Content

%input#searchfield{:size => "30", :style => "color: rgb(153, 153, 153);", :type => "text"} 
= link_to "Search" , "", :class => "search" 
 