= javascript_include_tag 'application'
= javascript_include_tag 'jquery.tooltipster.min'
:javascript  
  $(document).ready(function() {
      $('.tooltip').tooltipster({ interactive: true, fixedWidth: 280});
  });

- book_names(params[:id]).each do |name|
  &bull;
  %a.tooltip{:title =>name_tip(params[:id], name.id, name.string, name.eol_thumb, name.eol_page_id), :href => "#"}
    =item_count_format('name', name.string)
=book_names_count_format(params[:id])