.clear
.thumb
  = link_to image_tag("/#{@thumb}", :width => 109, :border => 0) ,{:controller => :books, :action => :show, :id => @vol[:job_id], :tab => :read}
.newscontent
  %h4
    = link_to @title.html_safe, 
        {:controller => :books, :action => :show, :id => @vol[:job_id], :tab => "brief"}
.clear