- if (@collections != nil && @collections.count > 0)
  - @collections.each do |collection|
    - if(collection.photo_name.blank?)
      - thumb = "/images_#{I18n.locale}/#{I18n.t(:default_collection)}"
    - else
      - thumb = collection.photo_name_url(:thumb)
    .col-sm-3
      =link_to :controller => :collections, :action => :show, :id => "#{collection.id}" do
        %img.img-responsive{:src => "#{thumb}"}