= render :partial => "layouts/header"
.pagetitle
  .pagetitlecontent
    .pagetitleborder
      %h1
        = @page_title
.contents
  .r_column
    =render :partial => "common/whats_inside"
  .page
    .page_border
      %br
      = yield
= render :partial => "layouts/footer"
